body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* heading section */
.big-heading {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections Color*/
.colored-section {
  background-color: #0f4c75;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navitgation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 16px;
}

.nav-link {
  font-size: 1.2rem;
}

/* title section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  width: 45%;
  transform: rotate(0);
  position: relative;
  top: 0px;
  left:20px;

}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* features section */
#features {
  padding: 3%;

}

.feature-titles {
  font-weight: 900;
  font-size: 2rem;
}

.feature-box {
  padding: 5%;
}

.features-icon {
  color: #0f4c75;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: grey;
}

/* testimonials section */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* press section */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* footer */
.social-icon {
  margin: 20px 10px;
}

/* responsive change */
@media (max-width:1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
